__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
*.egg-info
build/
dist/
.coverage
htmlcov/
.venv/
venv/
env/
*.raw
*.mem
*.dmp
*.vmem
cases/
output/
.env
reassessments/
*.log
*.yarac
*.lime
*.aff4
*.hiberfil
*.pagefile
